node-red-data/.flows.json.backup
[
    {
        "id": "55670685a4ad1746",
        "type": "tab",
        "label": "Conversor de monedas",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b1d2f3e4.5a6b7c8",
        "type": "influxdb",
        "hostname": "172.18.0.82",
        "port": "8086",
        "protocol": "http",
        "database": "autis",
        "name": "influx",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "${INFLUXDB_URL}",
        "timeout": "",
        "rejectUnauthorized": false
    },
    {
        "id": "2de14618676090fb",
        "type": "inject",
        "z": "55670685a4ad1746",
        "name": "Trigger cada 24h",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "86400",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 460,
        "y": 220,
        "wires": [
            [
                "26d036b8871395db",
                "5d318e8023f49cb3",
                "489108f09d363b35"
            ]
        ]
    },
    {
        "id": "26d036b8871395db",
        "type": "http request",
        "z": "55670685a4ad1746",
        "name": "Frankfurter API",
        "method": "GET",
        "ret": "obj",
        "url": "https://api.frankfurter.dev/v1/latest?base=EUR",
        "x": 680,
        "y": 160,
        "wires": [
            [
                "841ce82da8934bbc"
            ]
        ]
    },
    {
        "id": "5d318e8023f49cb3",
        "type": "http request",
        "z": "55670685a4ad1746",
        "name": "Fawaz API",
        "method": "GET",
        "ret": "obj",
        "url": "https://cdn.jsdelivr.net/npm/@fawazahmed0/currency-api@latest/v1/currencies/eur.json",
        "x": 680,
        "y": 220,
        "wires": [
            [
                "15b0ddafe241f4c1"
            ]
        ]
    },
    {
        "id": "489108f09d363b35",
        "type": "http request",
        "z": "55670685a4ad1746",
        "name": "Fxapp API",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://fxapi.app/api/eur.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 670,
        "y": 280,
        "wires": [
            [
                "790b9a2ebf50be31"
            ]
        ]
    },
    {
        "id": "841ce82da8934bbc",
        "type": "function",
        "z": "55670685a4ad1746",
        "name": "Estandarización",
        "func": "msg.topic = \"frankfurter\";\nmsg.payload = {\n    rates: msg.payload.rates || {},\n    date: msg.payload.date || new Date().toISOString().split(\"T\")[0]\n};\nreturn msg;",
        "outputs": 1,
        "x": 900,
        "y": 160,
        "wires": [
            [
                "185abda84b36cc6f"
            ]
        ]
    },
    {
        "id": "15b0ddafe241f4c1",
        "type": "function",
        "z": "55670685a4ad1746",
        "name": "Estandarización",
        "func": "msg.topic = \"fawaz\";\nmsg.payload = {\n    rates: msg.payload.eur || {},\n    date: msg.payload.date || new Date().toISOString().split(\"T\")[0]\n};\nreturn msg;",
        "outputs": 1,
        "x": 900,
        "y": 220,
        "wires": [
            [
                "185abda84b36cc6f"
            ]
        ]
    },
    {
        "id": "790b9a2ebf50be31",
        "type": "function",
        "z": "55670685a4ad1746",
        "name": "Estandarización",
        "func": "msg.topic = \"fxapp\";\nmsg.payload = {\n    rates: msg.payload.rates || {},\n    date: msg.payload.date || new Date().toISOString().split(\"T\")[0]\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 280,
        "wires": [
            [
                "185abda84b36cc6f"
            ]
        ]
    },
    {
        "id": "185abda84b36cc6f",
        "type": "join",
        "z": "55670685a4ad1746",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "5",
        "count": "3",
        "x": 1100,
        "y": 220,
        "wires": [
            [
                "c937544a1876b5a3",
                "bed198732c260698"
            ]
        ]
    },
    {
        "id": "bed198732c260698",
        "type": "function",
        "z": "55670685a4ad1746",
        "name": "Calc",
        "func": "const apis = msg.payload;\nconst mapaDivisas = {};\nlet apiDate = null;\n\nfor (const apiTag in apis) {\n    const apiData = apis[apiTag];\n    if (!apiData || typeof apiData !== 'object') continue;\n    const tasas = apiData.rates || apiData;\n    if (!apiDate && apiData.date) {\n        apiDate = apiData.date;\n    }\n\n    for (const [codigo, valor] of Object.entries(tasas)) {\n        if (!mapaDivisas[codigo]) {\n            mapaDivisas[codigo] = { suma: 0, conteo: 0 };\n        }\n        mapaDivisas[codigo].suma += valor;\n        mapaDivisas[codigo].conteo += 1;\n    }\n}\n\nconst fecha = apiDate || new Date().toISOString().split('T')[0];\nconst resultados = Object.keys(mapaDivisas).map(codigo => ({\n    codigo: codigo,\n    media: mapaDivisas[codigo].suma / mapaDivisas[codigo].conteo,\n    fuentes: mapaDivisas[codigo].conteo,\n    fecha\n}));\n\nmsg.payload = resultados;\nreturn msg;",
        "outputs": 1,
        "x": 1270,
        "y": 220,
        "wires": [
            [
                "dd1b87b9b3bb941e",
                "c3e89cc82270a290"
            ]
        ]
    },
    {
        "id": "c937544a1876b5a3",
        "type": "debug",
        "z": "55670685a4ad1746",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 360,
        "wires": []
    },
    {
        "id": "76c7fd9951bc59d2",
        "type": "function",
        "z": "55670685a4ad1746",
        "name": "Query",
        "func": "const d = msg.payload;\n\nmsg.query = `INSERT INTO monedas (codigo) VALUES ($1) ON CONFLICT (codigo) DO NOTHING`;\nmsg.params = [d.codigo];\nmsg.payload = {};\nmsg._divisa = d;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1610,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "dd1b87b9b3bb941e",
        "type": "split",
        "z": "55670685a4ad1746",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1430,
        "y": 220,
        "wires": [
            [
                "76c7fd9951bc59d2"
            ]
        ]
    },
    {
        "id": "9c7d0f6a8b5c3d21",
        "type": "influxdb batch",
        "z": "55670685a4ad1746",
        "influxdb": "b1d2f3e4.5a6b7c8",
        "precision": "",
        "retentionPolicy": "",
        "name": "Write to Influx",
        "database": "",
        "retentionPolicyV18Flux": "",
        "org": "${INFLUXDB_ORG}",
        "bucket": "${INFLUXDB_BUCKET}",
        "x": 1740,
        "y": 280,
        "wires": []
    },
    {
        "id": "c3e89cc82270a290",
        "type": "function",
        "z": "55670685a4ad1746",
        "name": "Build Influx points",
        "func": "const records = msg.payload || [];\n\nmsg.payload = records.map(item => {\n    const fecha = item.fecha || item.Fecha || new Date().toISOString().split(\"T\")[0];\n    const numApis = Number(item.fuentes ?? item.num_apis ?? 0);\n    return {\n        measurement: \"divisas\",\n        tags: { Codigo_moneda: (item.codigo || item.Codigo_moneda || \"\").toUpperCase() },\n        fields: {\n            Valor_media: Number(item.media ?? item.valor_media ?? 0),\n            Num_apis: numApis\n        },\n        timestamp: new Date(fecha)\n    };\n});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1490,
        "y": 280,
        "wires": [
            [
                "9c7d0f6a8b5c3d21"
            ]
        ]
    }
]