node-red-data/flows.json
[
    {
        "id": "55670685a4ad1746",
        "type": "tab",
        "label": "Conversor de monedas",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ddd8e7f616b2cc5d",
        "type": "tab",
        "label": "APIs",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4dac3caa5dbb641f",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "POSTGRES_HOST",
        "hostFieldType": "env",
        "port": "POSTGRES_PORT",
        "portFieldType": "env",
        "database": "POSTGRES_DB",
        "databaseFieldType": "env",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "POSTGRES_USER",
        "userFieldType": "env",
        "password": "POSTGRES_PASSWORD",
        "passwordFieldType": "env"
    },
    {
        "id": "2de14618676090fb",
        "type": "inject",
        "z": "55670685a4ad1746",
        "name": "Inject cada 24",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "86400",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 220,
        "wires": [
            [
                "341f0b40e6385a3d"
            ]
        ]
    },
    {
        "id": "341f0b40e6385a3d",
        "type": "link out",
        "z": "55670685a4ad1746",
        "name": "link out Inject",
        "mode": "link",
        "links": [
            "50ac77c4cd57f7f9"
        ],
        "x": 235,
        "y": 220,
        "wires": []
    },
    {
        "id": "680f0a98ddd68cba",
        "type": "link in",
        "z": "55670685a4ad1746",
        "name": "link in influx",
        "links": [
            "2aaa5ab06b312a66"
        ],
        "x": 305,
        "y": 220,
        "wires": [
            [
                "9142fc6473d6778f"
            ]
        ]
    },
    {
        "id": "9142fc6473d6778f",
        "type": "join",
        "z": "55670685a4ad1746",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "5",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 410,
        "y": 220,
        "wires": [
            [
                "c0542ecb713b7856"
            ]
        ]
    },
    {
        "id": "c0542ecb713b7856",
        "type": "function",
        "z": "55670685a4ad1746",
        "name": "Calcular medias",
        "func": "const apis = msg.payload;\nconst hoy = new Date().toISOString().split(\"T\")[0];\nconst registros = {};\n\nfor (const api of apis) {\n    const fecha = api.date || hoy;\n    if (fecha !== hoy) continue;\n    for (const [codigo, valor] of Object.entries(api.rates || {})) {\n        if (valor === null || valor === undefined || isNaN(valor)) continue;\n        if (!registros[codigo]) registros[codigo] = [];\n        registros[codigo].push(Number(valor));\n    }\n}\n\nif (Object.keys(registros).length === 0) {\n    node.warn(\"Sin datos válidos para hoy: \" + hoy);\n    return null;\n}\n\nconst filas = Object.entries(registros).map(([codigo, vals]) => {\n    const media = vals.reduce((a, v) => a + v, 0) / vals.length;\n    const codigoSafe = codigo.replace(/'/g, \"\");  // sanitización mínima\n    return `('${hoy}', '${codigoSafe}', ${media}, ${vals.length})`;\n});\n\nmsg.payload = `INSERT INTO divisas (fecha, codigo, valor_media, num_apis) \nVALUES ${filas.join(',')} \nON CONFLICT (fecha, codigo) DO UPDATE \nSET valor_media = EXCLUDED.valor_media, num_apis = EXCLUDED.num_apis`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 220,
        "wires": [
            [
                "5c1d515836dd4e86"
            ]
        ]
    },
    {
        "id": "5c1d515836dd4e86",
        "type": "postgresql",
        "z": "55670685a4ad1746",
        "name": "",
        "query": "",
        "postgreSQLConfig": "4dac3caa5dbb641f",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 950,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "26d036b8871395db",
        "type": "http request",
        "z": "ddd8e7f616b2cc5d",
        "name": "Frankfurter API",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.frankfurter.dev/v1/latest?base=EUR",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 540,
        "y": 180,
        "wires": [
            [
                "841ce82da8934bbc"
            ]
        ]
    },
    {
        "id": "5d318e8023f49cb3",
        "type": "http request",
        "z": "ddd8e7f616b2cc5d",
        "name": "Currency API",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://cdn.jsdelivr.net/npm/@fawazahmed0/currency-api@latest/v1/currencies/eur.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 530,
        "y": 240,
        "wires": [
            [
                "15b0ddafe241f4c1"
            ]
        ]
    },
    {
        "id": "489108f09d363b35",
        "type": "http request",
        "z": "ddd8e7f616b2cc5d",
        "name": "Fxapp API",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://fxapi.app/api/eur.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 530,
        "y": 300,
        "wires": [
            [
                "790b9a2ebf50be31"
            ]
        ]
    },
    {
        "id": "841ce82da8934bbc",
        "type": "function",
        "z": "ddd8e7f616b2cc5d",
        "name": "Estandarización",
        "func": "msg.topic = \"frankfurter\";\nmsg.payload = {\n    rates: msg.payload.rates || {},\n    date: msg.payload.date || new Date().toISOString().split(\"T\")[0]\n};\nreturn msg;",
        "outputs": 1,
        "x": 760,
        "y": 180,
        "wires": [
            [
                "2aaa5ab06b312a66",
                "73f5789c94cc31fe"
            ]
        ]
    },
    {
        "id": "15b0ddafe241f4c1",
        "type": "function",
        "z": "ddd8e7f616b2cc5d",
        "name": "Estandarización",
        "func": "msg.topic = \"currency\";\nconst data = msg.payload.eur;\nconst normalizedRates = {};\n\nfor (const [key, value] of Object.entries(data)) {\n\n    normalizedRates[key.toUpperCase()] = value;\n}\n\nmsg.payload = {\n    rates: normalizedRates,\n    date: msg.payload.date\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 240,
        "wires": [
            [
                "2aaa5ab06b312a66",
                "7988b5fb53116ab6"
            ]
        ]
    },
    {
        "id": "790b9a2ebf50be31",
        "type": "function",
        "z": "ddd8e7f616b2cc5d",
        "name": "Estandarización",
        "func": "msg.topic = \"fxapp\";\nmsg.payload = {\n    rates: msg.payload.rates || {},\n    date: msg.payload.date || new Date().toISOString().split(\"T\")[0]\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 300,
        "wires": [
            [
                "2aaa5ab06b312a66",
                "7eb3f082ae1139af"
            ]
        ]
    },
    {
        "id": "50ac77c4cd57f7f9",
        "type": "link in",
        "z": "ddd8e7f616b2cc5d",
        "name": "link to apis",
        "links": [
            "341f0b40e6385a3d",
            "19277f4ea4e8b145"
        ],
        "x": 365,
        "y": 240,
        "wires": [
            [
                "26d036b8871395db",
                "5d318e8023f49cb3",
                "489108f09d363b35",
                "fcfdf6a1392be216",
                "er_api_http",
                "open_er_http"
            ]
        ]
    },
    {
        "id": "fcfdf6a1392be216",
        "type": "http request",
        "z": "ddd8e7f616b2cc5d",
        "name": "AWESOME API",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://economia.awesomeapi.com.br/json/last/EUR-USD,EUR-GBP,EUR-JPY,EUR-CHF,EUR-BRL,EUR-CAD",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 540,
        "y": 380,
        "wires": [
            [
                "fcd635b7bc8b6c78"
            ]
        ]
    },
    {
        "id": "fcd635b7bc8b6c78",
        "type": "function",
        "z": "ddd8e7f616b2cc5d",
        "name": "Estandarización",
        "func": "msg.topic = \"awesome\";\nconst rates = {};\n\nfor (const pair in msg.payload) {\n    const code = pair.substring(3); \n    rates[code] = parseFloat(msg.payload[pair].bid);\n}\n\nmsg.payload = {\n    rates: rates,\n    date: new Date().toISOString().split(\"T\")[0]\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 380,
        "wires": [
            [
                "2aaa5ab06b312a66",
                "dc958f8ed671cf32"
            ]
        ]
    },
    {
        "id": "2aaa5ab06b312a66",
        "type": "link out",
        "z": "ddd8e7f616b2cc5d",
        "name": "link out apis",
        "mode": "link",
        "links": [
            "680f0a98ddd68cba"
        ],
        "x": 1025,
        "y": 260,
        "wires": []
    },
    {
        "id": "73f5789c94cc31fe",
        "type": "debug",
        "z": "ddd8e7f616b2cc5d",
        "name": "debug FrankFurter",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 180,
        "wires": []
    },
    {
        "id": "7988b5fb53116ab6",
        "type": "debug",
        "z": "ddd8e7f616b2cc5d",
        "name": "debug CurrencyAPI",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 240,
        "wires": []
    },
    {
        "id": "7eb3f082ae1139af",
        "type": "debug",
        "z": "ddd8e7f616b2cc5d",
        "name": "debug FxApp API",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 300,
        "wires": []
    },
    {
        "id": "dc958f8ed671cf32",
        "type": "debug",
        "z": "ddd8e7f616b2cc5d",
        "name": "debug ASESOMEAPI",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 380,
        "wires": []
    },
    {
        "id": "er_api_http",
        "type": "http request",
        "z": "ddd8e7f616b2cc5d",
        "name": "ExchangeRate API",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.exchangerate-api.com/v4/latest/EUR",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 530,
        "y": 460,
        "wires": [
            [
                "er_api_norm"
            ]
        ]
    },
    {
        "id": "er_api_norm",
        "type": "function",
        "z": "ddd8e7f616b2cc5d",
        "name": "Estandarización",
        "func": "msg.topic = \"exchangerate_api\";\nmsg.payload = {\n    rates: msg.payload.rates || {},\n    date: msg.payload.date || new Date().toISOString().split(\"T\")[0]\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 460,
        "wires": [
            [
                "er_api_debug",
                "2aaa5ab06b312a66"
            ]
        ]
    },
    {
        "id": "er_api_debug",
        "type": "debug",
        "z": "ddd8e7f616b2cc5d",
        "name": "debug ExchangeRate API",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 460,
        "wires": []
    },
    {
        "id": "open_er_http",
        "type": "http request",
        "z": "ddd8e7f616b2cc5d",
        "name": "Open ER API",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://open.er-api.com/v6/latest/EUR",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 530,
        "y": 540,
        "wires": [
            [
                "open_er_norm"
            ]
        ]
    },
    {
        "id": "open_er_norm",
        "type": "function",
        "z": "ddd8e7f616b2cc5d",
        "name": "Estandarización",
        "func": "msg.topic = \"open_er\";\n\n// Devuelve { result, time_last_update_utc, base_code, rates: {...} }\nconst dateRaw = msg.payload.time_last_update_utc || \"\";\nlet date = new Date().toISOString().split(\"T\")[0];\nif (dateRaw) {\n    date = new Date(dateRaw).toISOString().split(\"T\")[0];\n}\n\nmsg.payload = {\n    rates: msg.payload.rates || {},\n    date: date\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 540,
        "wires": [
            [
                "open_er_debug",
                "2aaa5ab06b312a66"
            ]
        ]
    },
    {
        "id": "open_er_debug",
        "type": "debug",
        "z": "ddd8e7f616b2cc5d",
        "name": "debug Open ER API",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 540,
        "wires": []
    }
]